<table class='table table-bordered table-sm'>
  <thead class="thead-dark ">
    <tr>
      <ng-container *ngFor="let column of configGrid.columns;">
        <th>{{column.label}}</th>
      </ng-container>
      <th style="width:  15%">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let columnData of configGrid.data;">
      <ng-container *ngFor="let column of configGrid.columns;">
        <td>{{columnData[column.id]}}</td>
      </ng-container>
      <td>
        <button class='btn btn-outline-danger btn-sm' (click)="openModal(configGrid.action[1].id,columnData)"><i class='fas fa-trash'></i>
          {{configGrid.action[1].label}}</button>
        <button class='btn btn-outline-primary btn-sm' (click)="openModal(configGrid.action[2].id,columnData)"><i class='fas fa-pen'></i>
          {{configGrid.action[2].label}}</button>
      </td>
    </tr>
  </tbody>
</table>

<ng-container *ngFor="let action of configGrid.action">
  <app-modal [id]="action.id" [configModal]="action" (actionFunction)="genericFunction($event)"></app-modal>
</ng-container>

<button class='btn btn-outline-success btn' (click)="openModal(configGrid.action[0].id,null)"><i
    class='fas fa-user'></i> {{configGrid.action[0].label}}</button>