<table class='table table-bordered table-sm'>
<thead class="thead-dark ">
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Phone</th>
    <th>Address</th>
    <th>Action</th>
  </tr>
</thead>
<tbody>
    <tr *ngFor="let admin of config;">
        <td>{{admin.username}}</td>
        <td>{{admin.email}}</td>
        <td>{{admin.phone}}</td>
        <td>{{admin.address}}</td>
        <td>
          <button class='btn btn-outline-danger btn-sm'><i class='fas fa-trash'></i> Remove</button>
          <button class='btn btn-outline-primary btn-sm'><i class='fas fa-pen'></i> Update</button>
        </td>
      </tr>
</tbody>
</table>
<jw-modal id="custom-modal-1">
  <h1>A Custom Angular 7 Modal!</h1>
  <button (click)="closeModal('custom-modal-1');">Close</button>
</jw-modal>
<jw-modal id="custom-modal-2">
  <h1>Hi Yaghi</h1>
  <input type="text">
  <button (click)="closeModal('custom-modal-2');">Close</button>
</jw-modal>
<button class='btn btn-outline-success btn' (click)="openModal('custom-modal-2')"><i class='fas fa-user'></i> Add Teacher</button>
