<table class='table table-bordered table-sm'>
<thead class="thead-dark ">
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Phone</th>
    <th>Age</th>
    <th>Action</th>
  </tr>
</thead>
<tbody>
    <tr>
        <td>Mohammad</td>
        <td>Mohammad@ccc.com</td>
        <td>0788795344</td>
        <td>23</td>
        <td>
          <button class='btn btn-outline-danger btn-sm'><i class='fas fa-trash'></i> Remove</button>
          <button class='btn btn-outline-primary btn-sm'><i class='fas fa-pen'></i> Update</button>
        </td>
      </tr>
      <tr>
          <td>Mohammad</td>
          <td>Mohammad@ccc.com</td>
          <td>0788795344</td>
          <td>23</td>
          <td>
              <button class='btn btn-outline-danger btn-sm'><i class='fas fa-trash'></i> Remove</button>
              <button class='btn btn-outline-primary btn-sm'><i class='fas fa-pen'></i> Update</button>
            </td>
        </tr>
</tbody>
</table>
<button class='btn btn-outline-success btn'><i class='fas fa-user'></i> Add Teacher</button>
