<header>
    <nav>
        <div class="navbar navbar-expand-lg navbar-light bg-dark">
            <a class="navbar-brand" routerLink="/home">BLulogix</a>
        <div class="collapse navbar-collapse navbar-custome" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto ">
                  <li class="nav-item  nav-item-custome" routerLinkActive="active">
                    <a class="nav-link" routerLink="home" >{{'HOME' | translate }}</a>
                  </li>
                  <li class="nav-item nav-item-custome" routerLinkActive="active">
                    <a class="nav-link" routerLink="teacher" routerLinkActive="active">Teacher</a>
                  </li>
                  <li class="nav-item nav-item-custome" routerLinkActive="active">
                    <a class="nav-link" routerLink="student" routerLinkActive="active">Student</a>
                  </li>
                  <li class="nav-item nav-item-custome" routerLinkActive="active">
                    <a class="nav-link" routerLink="parent" routerLinkActive="active">Parent</a>
                  </li>
                  <li class="nav-item nav-item-custome" routerLinkActive="active">
                    <a class="nav-link" routerLink="admin" routerLinkActive="active">Admin</a>
                  </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                  <button class="btn btn-outline-success my-2 my-sm-0" (click)="logout()">Logout</button>
                </form>
        </div>
        <div (click)="translate.use('en')" style="color: red"><i class="fas fa-flag-usa"></i></div>
        <button (click)="translate.use('fr')" style="color: red"><i class="fas fa-flag"></i></button>
    </div>
    </nav>
</header>