<h1>
    Welcome Dashboard
</h1>
<div class='container-fluid'>
    <div class='row'>
        <div class='col-md-6 col-lg-4 col-sm-12 padding-right'>
                <app-card-info [data]="aa"></app-card-info>
        </div>
        <div class='col-md-6 col-lg-4 col-sm-12 padding-right'>
                <app-card-info [data]="aa"></app-card-info>
        </div>
        <div class='col-md-6 col-lg-4 col-sm-12 padding-right'>
                <app-card-info [data]="aa"></app-card-info>
        </div>
        <div class='col-md-6 col-lg-4 col-sm-12 padding-right'>
                <app-card-info [data]="aa"></app-card-info>
        </div>
    </div>
    
</div>
